<% provide(:title, @user.name) %>

<div class="row">
  <section>
    <h1>
      <%= @user.name %>
    </h1>

    <p class="lead">
      I'm the coolest compoer. <a href="/signout">(Sign out.)</a>
    </p>
  </section>

  <section>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Compo Name </th>
          <th> Date </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Stuff </td>
          <td> 8-13-9999 </td>
        </tr>
        <tr>
          <td> Stuff2 </td>
          <td> 8-13-9999 </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
