<% provide(:title, @user.name) %>

<div class="row">
  <section>
    <h1>
      <%= @jam.name %>
    </h1>

    <p class="lead">
        <%= @jam.description %>
    </p>
  </section>

  <section>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Composer </th>
          <th> Title </th>
          <th> Date </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> johnfn </td>
          <td> AwesomeComp </td>
          <td> Whenever the mood strikes. </td>
        </tr>
        <tr>
          <td colspan="3"> Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
