<% if @jam.ongoing %>
  <span style="color:#a00;">
    <%= time_ago_in_words(@jam.end).capitalize %> until the deadline.
  </span>
<% elsif not @jam.started %>
  <span style="color:#0a0;">
    <%= time_ago_in_words(@jam.start) %> until the start of the jam.
  </span>
<% elsif @jam.ended %>
  <span style="color:#a00;">
    Jam has ended.
  </span>
<% end %>
